<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.wxl.myBlog.dao.BlogDao">


    <insert id="saveBlog" useGeneratedKeys="true" keyProperty="blogId">
        insert into blog
        values(null,#{blogTitle},#{blogBody},#{blogDiscussCount},#{blogViews},#{blogState},#{userId},#{blogTime})
    </insert>

    <insert id="saveBlogTag">
        insert into blog_tag values(#{blogId},#{tagId})
    </insert>

    <resultMap id="blog_user_tag" type="Blog">
        <id property="blogId" column="blog_id"></id>
        <result property="blogTitle" column="blog_title"></result>
        <result property="blogBody" column="blog_body"></result>
        <result property="blogDiscussCount" column="blog_discussCount"></result>
        <result property="blogViews" column="blog_views"></result>
        <result property="blogState" column="blog_state"></result>
        <result property="blogTime" column="blog_time"></result>
        <association property="user" >
            <id property="userId" column="user_id"></id>
            <result property="userName" column="user_name"></result>
        </association>
        <collection property="tags" ofType="Tag" javaType="java.util.List" column="blog_id" select="per.wxl.myBlog.dao.TagDao.getTagByBlogId">
        </collection>
    </resultMap>
    <select id="getAllBlog" resultMap="blog_user_tag" parameterType="java.util.Date">
        select a.*,user_name from blog a,user b
        where a.user_id=b.user_id
        and a.blog_state=1
        <if test="blogTime!=null">
            and blog_time &lt; #{blogTime}
        </if>
        order by blog_time desc limit 5
    </select>

    <select id="getBlogById" resultMap="blog_user_tag">
         select a.*,user_name,d.tag_id,tag_name  from blog a,user b,blog_tag c,tag d
        where a.user_id=b.user_id and a.blog_id=c.blog_id and c.tag_id=d.tag_id
        and a.blog_id=#{blogId}

    </select>

    <select id="getSomeBlog" resultType="blog">
        select * from blog where blog_time &lt; #{blogTime}
    </select>

    <update id="updateBlogViews" parameterType="java.util.Map">
        <foreach collection="MyMap.entrySet()" separator=";" item="value" index="key">
            update blog set blog_views=#{value} where blog_id=#{key}
        </foreach>
    </update>
</mapper>