<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.wxl.myBlog.dao.UserDao">

    <select id="getUserByUsername" resultType="User">
        select * from user where user_name=#{username}
    </select>

    <select id="getUserByEmail" resultType="User">
        select * from user where user_email=#{userEmail}
    </select>

    <insert id="saveUser" useGeneratedKeys="true" keyProperty="userId">
        insert into user(user_name, user_password, user_email, user_status)
        values (#{userName},#{userPassword},#{userEmail},#{userStatus},#{user})
    </insert>
</mapper>